.footer {
    position: relative;
    top: 90%;
    color: red;
}

.headers h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    color: coral;
    -webkit-text-stroke: white 0.5px;
    text-decoration: underline white 1px;
}

.headers h3, p {
    text-align: center;
}

.headers p {
    width: 700px;
    margin-top: 40px;
}

.lastparagraph {
    margin-bottom: 247px;
}